{% extends "layouts/default.html" %} {% block content %}
<h1 class="p-2 navbar-brand fs-2 text-primary">Create user</h1>

{% if errors %} {% for error in errors %}
<div class="container">
  <div class="alert alert-danger" role="alert">{{ error }}</div>
</div>
{% endfor %} {% endif %}

<div class="container-sm align-items-center">
  <form
    class="d-flex gap-3 flex-column"
    action="/users/create"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label class="ps-1" for="name">Name</label>
      <input
        class="form-control me-2"
        id="name"
        type="text"
        name="name"
        placeholder="Name"
        value="{{ name or '' }}"
      />
    </div>
    <div class="form-group">
      <label class="ps-1" for="age">Age</label>
      <input
        class="form-control me-2"
        id="age"
        type="text"
        name="age"
        placeholder="age"
        value="{{ age or '' }}"
      />
    </div>
    <div class="form-group">
      <label class="ps-1" for="phone">Phone</label>
      <input
        class="form-control me-2"
        id="phone"
        type="text"
        name="phone"
        placeholder="Phone"
        value="{{ phone or '' }}"
      />
    </div>
    <div class="form-group">
      <label class="ps-1" for="email">Email</label>
      <input
        class="form-control me-2"
        id="email"
        type="email"
        name="email"
        placeholder="Email"
        value="{{ email or '' }}"
      />
    </div>
    <div class="form-group">
      <label class="ps-1" for="password">Password</label>
      <input
        class="form-control me-2"
        id="password"
        type="password"
        name="password"
        placeholder="Password"
        value=""
      />
    </div>
    <div class="form-group">
      <label class="ps-1 me-1" for="avatar">Avatar</label
      ><input
        class="form-control-file me-2"
        id="avatar"
        type="file"
        name="avatar"
      />
    </div>
    <button class="btn btn-outline-success" type="submit">Create</button>
  </form>
</div>
{% endblock %}
